#face {
	position: relative;
	left: 25%;
}

#clock {
}

#clock img {
}

#hour {
	left: 25%;
	position: absolute;
	z-index: 1;
}

#minute {
	left: 25%;
	position: absolute;
	z-index: 10;
}

#second {
	left: 25%;
	position: absolute;
	z-index: 100;
}
